<!--
imagen				moneda.image.thumb/small
nombre				moneda.name
simbolo				moneda.symbol
precio en euros			moneda.current_price.eur
capitalizacion en euros		market_cap.eur
volumen en euros		moneda.total_volume.eur
valores + altos 24h		moneda.high_24h.eur
valores + bajos 24h		moneda.low_24h.eur
				        moneda.price_change_percentage_24h

-->

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Moneda</th>
			<th scope="col">Simbolo</th>
			<th scope="col">Precio en euros</th>
			<th scope="col">Capitalizacion en euros</th>
			<th scope="col">Volumen en euros</th>
			<th scope="col">Valores máx. 24h</th>
			<th scope="col">Valores mín. 24h</th>
			<th scope="col">Borrar</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let moneda of monedasVigiladas; index as i" >
			<th scope="row">{{ i + 1 }}</th>
			<td (click)="monedaClicada(moneda)">
				<img
					src={{moneda.image.thumb}}
					class="me-2"
					style="width: 20px"
				/>
				{{ moneda.name }}
			</td>
			<td (click)="monedaClicada(moneda)">{{ moneda.symbol }}</td>
			<td (click)="monedaClicada(moneda)">{{ moneda.market_data.current_price.eur  }}€</td>
			<td (click)="monedaClicada(moneda)">{{ moneda.market_data.market_cap.eur | number }}€</td>
			<td (click)="monedaClicada(moneda)">{{ moneda.market_data.total_volume.eur | number }}€</td>
			<td (click)="monedaClicada(moneda)">{{ moneda.market_data.high_24h.eur | number }}€</td>
			<td (click)="monedaClicada(moneda)">{{ moneda.market_data.low_24h.eur | number }}€</td>
			<td><button class="btn btn-danger" (click)="borrarMonedaClicada(moneda)" >Borrar</button></td>
		</tr>
	</tbody>
</table>