<p>cuerpo works!</p>
<button (click)="escriboEnBD()">escribeEnBD</button>

<!--MODO 1-->
<!--
<ul>
  <li *ngFor="let dato of datosDBD | async">
    {{ dato.nombre }}
  </li>
</ul>-->

<!--MODO 2-->

<ul>
  <li *ngFor="let dato of datosModo2">
    {{ dato.nombre }}
  </li>
</ul>


<div class="d-flex flex-wrap p-2"> 
<div class="card mb-3 p-1 m-2 " *ngFor="let moneda of monedasVigiladas" style="width: 250px; ">
    <div class="row g-0 d-flex align-items-center ">
      <div class="col-md-4">
        <img src="{{moneda.image.small}}"
          alt="Trendy Pants and Shoes"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{moneda.name}}</h5>
          <p class="card-text">{{moneda.market_data.price_change_percentage_24h}}</p>
          <p class="card-text">
            <small class="text-muted">{{moneda.market_data.current_price.eur}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>