<body class="container-fluid bg-dark">

    <!--CONTENIDO-->
    <div data-bs-spy="scroll" id="navbar-example" data-bs-target="#navbar-example" data-bs-offset="20"
        class="scrollspy-example" tabindex="0">

        <!--Sección del título-->
        <section id="titulo">
            <div id="carruselTitulo" class="carousel slide" data-bs-ride="carousel">
                <!--Vídeos-->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/media/header.jpg" id="img-header"/>
                        <div class="carousel-caption d-none d-md-block">
                            <h1 id="a">Criptomonedas</h1>
                                <p>
                                    Maneja tu cartera desde CryptoIsa
                                </p>
                        </div>
                    </div>
                </div>
                <!--Controles-->
                <button class="carousel-control-prev" type="button" data-bs-target="#carruselTitulo"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carruselTitulo"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </section>

        <!--Sección sobre nosotros-->
        <section id="sobre-nosotros">
            <h2 id="b">Sobre Nosotros</h2>
            <div class="row p-2 border-bottom conjunto align-items-center">
                <div class="col-5 imagen">
                    <img class="img-responsive" src="../../assets/media/1.jpg">
                </div>
                <div class="col-7 texto">
                    <h3 id="b4">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere suscipit tellus eu
                        pretium. Nunc
                        pharetra ac mauris ac tincidunt. Vestibulum blandit laoreet purus non dignissim. Nulla sed
                        nisl vitae
                        magna pharetra aliquam. Fusce in finibus tellus. Pellentesque elit magna, pulvinar vel augue
                        id, semper
                        congue arcu. Mauris sed suscipit nisl, sit amet varius ex. Aenean varius massa consequat est
                        sagittis,
                        faucibus sagittis purus gravida. Proin sollicitudin pellentesque tristique</p>
                </div>
            </div>
            <div class="row p-2 border-bottom conjunto align-items-center">
                <div class="col-7 texto">
                    <h3 id="b1">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere suscipit tellus eu
                        pretium. Nunc
                        pharetra ac mauris ac tincidunt. Vestibulum blandit laoreet purus non dignissim. Nulla sed
                        nisl vitae
                        magna pharetra aliquam. Fusce in finibus tellus. Pellentesque elit magna, pulvinar vel augue
                        id, semper
                        congue arcu. Mauris sed suscipit nisl, sit amet varius ex. Aenean varius massa consequat est
                        sagittis,
                        faucibus sagittis purus gravida. Proin sollicitudin pellentesque tristique</p>
                </div>
                <div class="col-5 imagen">
                    <img class="img-responsive" src="../../assets/media/2.jpg">
                </div>
            </div>
            <div class="row p-2 border-bottom conjunto align-items-center">
                <div class="col-5 imagen">
                    <img class="img-responsive" src="../../assets/media/3.jpg">
                </div>
                <div class="col-7 texto">
                    <h3 id="b2">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere suscipit tellus eu
                        pretium. Nunc
                        pharetra ac mauris ac tincidunt. Vestibulum blandit laoreet purus non dignissim. Nulla sed
                        nisl vitae
                        magna pharetra aliquam. Fusce in finibus tellus. Pellentesque elit magna, pulvinar vel augue
                        id, semper
                        congue arcu. Mauris sed suscipit nisl, sit amet varius ex. Aenean varius massa consequat est
                        sagittis,
                        faucibus sagittis purus gravida. Proin sollicitudin pellentesque tristique</p>
                </div>
            </div>
            <div class="row p-2 conjunto align-items-center">
                <div class="col-7 texto">
                    <h3 id="b3">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere suscipit tellus eu
                        pretium. Nunc
                        pharetra ac mauris ac tincidunt. Vestibulum blandit laoreet purus non dignissim. Nulla sed
                        nisl vitae
                        magna pharetra aliquam. Fusce in finibus tellus. Pellentesque elit magna, pulvinar vel augue
                        id, semper
                        congue arcu. Mauris sed suscipit nisl, sit amet varius ex. Aenean varius massa consequat est
                        sagittis,
                        faucibus sagittis purus gravida. Proin sollicitudin pellentesque tristique</p>
                </div>
                <div class="col-5 imagen">
                    <img class="img-responsive" src="../../assets/media/4.jpg">
                </div>
            </div>
        </section>

        <!--Sección opiniones-->
        <section id="opiniones">
            <h2 id="c">Lorem ipsum</h2>
            <div class="row p-2 cards justify-content-center">
                <div class="card col-auto ms-4 mb-4">
                    <img class="card-img-top" alt="..." src="../../assets/media/5.png">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card col-auto ms-4 mb-4">
                    <img class="card-img-top" alt="..." src="../../assets/media/6.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card col-auto ms-4 mb-4">
                    <img class="card-img-top" alt="..." src="../../assets/media/7.png">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card col-auto ms-4 mb-4">
                    <img class="card-img-top" alt="..." src="../../assets/media/8.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card col-auto ms-4 mb-4">
                    <img class="card-img-top" alt="..." src="../../assets/media/9.png">
                    <div class="card-body">
                        <h4 class="card-title">Natalia</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </section>

        <!--Sección servicios-->
        <section id="servicios">
            <h2 id="d">Lorem ipsum</h2>

            <!--Botones-->
            <div class="row justify-content-center">
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#element1"
                        aria-expanded="false" aria-controls="element1">
                        <img src="../../assets/media/10.png" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center">
                            <h4>Lorem ipsum</h4>
                        </div>
                    </div>
                </div>

                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#element2"
                        aria-expanded="false" aria-controls="element2">
                        <img src="../../assets/media/11.png" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center">
                            <h4>Lorem ipsum</h4>
                        </div>
                    </div>
                </div>

                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#element3"
                        aria-expanded="false" aria-controls="element3">
                        <img src="../../assets/media/12.jpg" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center">
                            <h4>Lorem ipsum</h4>
                        </div>
                    </div>
                </div>
                <div class="col-2  col-sm d-flex justify-content-center">
                    <div class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#element4"
                        aria-expanded="false" aria-controls="element4">
                        <img src="../../assets/media/11.png" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center">
                            <h4>Lorem ipsum</h4>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#element5"
                        aria-expanded="false" aria-controls="element5">
                        <img src="../../assets/media/10.png" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center">
                            <h4>Lorem ipsum</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!--Párrafos desplegables-->
            <div class="row justify-content-center">
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="collapse multi-collapse" id="element1">
                        <div class="card card-body">
                            Some placeholder content for the first collapse component of this multi-collapse
                            example. This panel is hidden by default but revealed when the user activates the
                            relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="collapse multi-collapse" id="element2">
                        <div class="card card-body">
                            Some placeholder content for the second collapse component of this multi-collapse
                            example. This panel is hidden by default but revealed when the user activates the
                            relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="collapse multi-collapse" id="element3">
                        <div class="card card-body">
                            Some placeholder content for the second collapse component of this multi-collapse
                            example. This panel is hidden by default but revealed when the user activates the
                            relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="collapse multi-collapse" id="element4">
                        <div class="card card-body">
                            Some placeholder content for the second collapse component of this multi-collapse
                            example. This panel is hidden by default but revealed when the user activates the
                            relevant trigger.
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm d-flex justify-content-center">
                    <div class="collapse multi-collapse" id="element5">
                        <div class="card card-body">
                            Some placeholder content for the second collapse component of this multi-collapse
                            example. This panel is hidden by default but revealed when the user activates the
                            relevant trigger.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Sección subscribete-->
        <section id="suscribete">
            <div class="row p-5 m-5 align-items-baseline">
                <div class="col-7 d-flex justify-content-end">
                    <h1 id="e">Entérate de todas las novedades</h1>
                </div>
                <!--Botón-->
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light col-6 offset-1 align-bottom"
                        data-bs-toggle="modal" data-bs-target="#miFormulario">
                        Suscribirme
                    </button>
                </div>

            </div>


            <!-- Contenido del formulario-->
            <div class="modal fade" id="miFormulario" tabindex="-1" aria-labelledby="miFormularioLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="miFormularioLabel">Introduce tus datos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- modal-body -->
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="mb-3 row">
                                    <label for="inputNombre" class="col-3 col-form-label">Nombre</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="inputNombre">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputApellidos" class="col-3 col-form-label">Apellidos</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="inputApellidos">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="miFormularioControlInput1" class="col-3 col-form-label">Email</label>
                                    <div class="col-9">
                                        <input type="email" class="form-control-plaintext"
                                            id="miFormularioControlInput1" placeholder="correoelectronico@ejemplo.com">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- modal-footer -->
                        <div class="modal-footer">
                            <!-- Actions  -->
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="button" class="btn btn-primary">
                                Suscribirme
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>
